<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flicker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{182,146}}</string>
                <key>offset</key>
                <string>{-57,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,194},{182,146}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,618},{282,276}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,68},{282,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{286,306}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{286,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,306}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{286,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{282,306}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,34},{282,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{256,270}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,37},{256,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{72,104}}</string>
                <key>offset</key>
                <string>{-86,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,41},{72,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>flicker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flicker.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4097123255f9bc8e580c4b9d691362e:1/1$</string>
            <key>textureFileName</key>
            <string>flicker.png</string>
        </dict>
    </dict>
</plist>
