<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>matching_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{104,190}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,9},{104,190}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>matching_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{134,200}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{134,200}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>matching_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{174,208}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{174,208}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>matching_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,188}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{218,188}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>matching_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,308},{144,192}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,15},{144,192}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>matching_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,308},{164,196}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{164,196}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>matching_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,178},{128,204}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,4},{128,204}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>matching.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:900881e4742d66be33c6d4291915db76:1/1$</string>
            <key>textureFileName</key>
            <string>matching.png</string>
        </dict>
    </dict>
</plist>
