<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stampLightingEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,72},{66,66}}</string>
                <key>offset</key>
                <string>{-81,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,356},{120,120}}</string>
                <key>offset</key>
                <string>{-54,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,180},{174,174}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{222,222}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,222}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{222,222}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{176,176}}</string>
                <key>offset</key>
                <string>{26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{176,176}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,356},{122,122}}</string>
                <key>offset</key>
                <string>{53,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{122,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{68,68}}</string>
                <key>offset</key>
                <string>{80,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,160},{68,68}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>stampLightingEffect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{1,1}}</string>
                <key>offset</key>
                <string>{-113.5,113.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stampLightingEffect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb3d9dcb53224314f4966008f852fef:1/1$</string>
            <key>textureFileName</key>
            <string>stampLightingEffect.png</string>
        </dict>
    </dict>
</plist>
